#app {
  height: 90vh;
  display: flex;
}

.left-container {
  width: 15%;
  overflow: scroll;
  min-width: 150px;
}

.right-container {
  min-width: 85%;
  overflow: scroll;
}

.bx--modal-container {
  min-width: 100%;
  min-height: 15vw;
  padding-top: 20px;
}

.bx--footer-info__item {
  margin-right: 10px;
}

.selection-info {
  height: 100%;
  display: flex;
  min-width: 85%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.video-display {
  margin: 0;
  height: 100%;
  display: flex;
}

.slider-videos {
  width: 80%;
  display: flex;
  overflow-x: scroll;
}

.slider-component {
  height: 100%;
  min-width: 25%;
}

.slider-input {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-text {
  min-width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.bx--modal-close {
  display: none;
}
